.header {
  position: relative;

  display: flex;
  align-items: center;

  padding: map-get($map: $pd, $key: normal);
  background-image: linear-gradient(
    9.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  & .header__btn-menu {
    & img {
      cursor: pointer;
      width: 30px;
    }
  }
}
.header__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 75vh;
  left: -1000px;
  padding: map-get($map: $pd, $key: normal);
  top: 57px;
  transition: 150ms all ease;
  opacity: 0.9;
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  .header__menu-item {
    display: flex;
    align-items: center;

    font-size: map-get($map: $fs, $key: big);
    text-decoration: none;
    color: #fff;
  }
  .is-active {
    // letter-spacing: -2px;
    color: #fff;
    text-shadow: 0 0 12px #fff, 0 0 0px #fff, 0 0 15px #fff, 0 0 10px #3ea1db,
      0 0 6px #3ea1db;
  }

  .header__menu-item {
    & p {
      text-transform: uppercase;
      font-size: map-get($map: $fs, $key: big);
    }

    & img {
      margin-right: 18px;
      width: 35px;
    }
  }
}

.showMenu {
  left: 0px;
}
