.textInput {
  border: none;
  outline: none;
  padding: map-get($map: $pd, $key: normal);
  border-radius: 2px;
  margin: 6px 6px;
  background: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
}

.textInput::placeholder {
  color: #fff;
}

.inputSubmit {
  cursor: pointer;
  margin-top: 6px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: map-get($map: $pd, $key: small);
  display: block;
  outline: none;
  border: none;
  text-decoration: none;
  background: none;
  font-size: map-get($map: $fs, $key: small);
  :hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

@mixin componentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  border-radius: 6px;

  & form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@mixin componentLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  min-height: 20%;

  & picture {
    img {
      width: 100px;
      filter: drop-shadow(0px 0px 10px #fff);
    }
  }
}

@mixin backgroundGradient {
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
}

@mixin flexCardCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}

@mixin componentContainer {
  width: 100%;
  height: 100vh;
  padding: map-get($map: $pd, $key: small);
}
