
$primary-color: #51c2d5;
$secondary-color: #ec4646;

$auxiliar-color-1: #663f3f;
$auxiliar-color-2: #bbf1fa;

$fs: (
    big: 2.4rem,
    normal: 1.6rem,
    small: 1.4rem,
    x-small: 1.2rem
);

$border-radius-card: 6px;
