.workerLogin {
  @include backgroundGradient;
  @include componentContainer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  min-height: 100vh;
    height: 100%;
}

.workerLogin__logo {
  @include componentLogo;
  & h2 {
    font-family: $fm;
    letter-spacing: 3px;
    font-size: map-get($map: $fs, $key: normal);
 
  }
}
.workerLogin__form {
  @include componentForm;
  
}
