.workerCard {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: $primary-color;
  border-radius: $border-radius-card;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  width: 80%;
  height: 300px;
  margin: 0px 10px 0;

  min-width: 190px;
  max-width: 300px;
  scroll-snap-align: center;

  & .workerCard__img {
    width: 36px;

    & img {
      width: 100%;
    }
  }
}

.workerCard__img-container {
  @include flexCardCenter;
  // Here we overide the 25% height
  height: 35%;
  padding: map-get($map: $pd, $key: normal);
  min-height: 35%
}

.workerCard__names {
  @include flexCardCenter;
  flex-direction: column;
  min-height: 25%;

 & .workerCard__names-name{
   font-weight: 500;
   font-size: map-get($map: $fs, $key: big);
 }

 & .workerCard__names-lastName{
   font-weight: 300;
  font-size: map-get($map: $fs, $key: small);
}
}

.workerCard__tags {
  @include flexCardCenter;
  flex-wrap: wrap;
  height: auto;
  min-height: 15%;
  overflow-y: scroll;
}

.workerCard__rating {
  @include flexCardCenter;
  min-height: 25%;
}

.worker_tag {
  text-align: center;
  min-width: 52px;
  border-radius: 2px;
  padding: map-get($map: $pd, $key: small);
  margin: 2px 2px;
  background-color: #fff;
}
