.workerRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  @include backgroundGradient;

  & .workerRegister__title {
    letter-spacing: 2px;
    font-size: map-get($map: $fs, $key: x-big);
  }

  & .workerRegister__subtitle {
    letter-spacing: 2px;
    font-size: map-get($map: $fs, $key: big);
  }

  & a {
    // @include inputSubmit;
  }
}

.workerRegister__wraper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;

  width: 90%;
  height: 70%;
  padding: 24px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}
